body {
  margin: 0px;
}

#map-container {
  width: 100%;
  height: 100%;
}

#map-controls {
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 20px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

#map-controls .control {
  background-color: white;
  padding: 10px;
  font-size: 15px;
  cursor: pointer;
}

#map-controls .control-group {
  border: 2px solid rgb(0, 0, 0, 0.2);
  border-radius: 4px;
  margin-bottom: 5px;
}

#map-controls .control-group .control {
  border-bottom: 1px solid rgb(204, 204, 204);
}

#map-controls .control-group .control:last-child {
  border-bottom: none;
}

#map-controls .control-group .control:nth-child(1) {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

#map-controls .control-group .control:last-child {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

#map-controls .control:hover {
  background-color: rgb(244, 244, 244);
}

#map-controls .has-state .control {
  color: #ceb9b9;
}

#map-controls .has-state .control.active {
  color: blue;
}

#map-controls .control i {
  pointer-events: none;
}

.leaflet-div-icon {
  background-color: initial;
  border: initial;
}

/* computed with https://codepen.io/sosuke/pen/Pjoqqp */
.carpark-full > img {
  filter: invert(26%) sepia(83%) saturate(7483%) hue-rotate(358deg) brightness(95%) contrast(123%);
}

.carpark-almostfull > img {
  filter: invert(78%) sepia(60%) saturate(5426%) hue-rotate(347deg) brightness(87%) contrast(89%);
}

.carpark-available > img {
  filter: invert(24%) sepia(95%) saturate(1829%) hue-rotate(93deg) brightness(96%) contrast(106%);
}

.marker-cluster {
  background-clip: padding-box;
  border-radius: 20px;
}

.marker-cluster div {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  margin-top: 5px;

  text-align: center;
  border-radius: 15px;
  font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.marker-cluster span {
  line-height: 30px;
}

.marker-cluster-carpark-full {
  background-color: rgba(253, 156, 115, 0.6);
}

.marker-cluster-carpark-full div {
  background-color: rgba(241, 128, 23, 0.6);
}

.marker-cluster-carpark-almostfull {
  background-color: rgba(241, 211, 87, 0.6);
}

.marker-cluster-carpark-almostfull div {
  background-color: rgba(240, 194, 12, 0.6);
}

.marker-cluster-carpark-available {
  background-color: rgba(181, 226, 140, 0.6);
}

.marker-cluster-carpark-available div {
  background-color: rgba(110, 204, 57, 0.6);
}
